.form{
    margin-left: 24%;
    margin-right: 24%;
    margin-top: 6%;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    padding: 17px;
}
.ageblock{
    display: inline-block;
    /* text-align-last: justify;  */
}
.genderblock{
    width:60%;
    display:inline-block;
}
.float-right{
    float: right;
}
.myClass{
    text-align: justify
}
